services:
  backend:
    build:
      context: ../
      dockerfile: ./docker/backend/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ../api:/app/api
      - ../etl:/app/etl
    depends_on:
      - db
    environment:
      DATABASE_URL: mysql+mysqlconnector://user:password@db:3306/ans_db

  frontend:
    build:
      context: ../
      dockerfile: ./docker/frontend/Dockerfile
    ports:
      - "8080:80"
    depends_on:
      - backend

  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root_password
      MYSQL_DATABASE: ans_db
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    volumes:
      - db_data:/var/lib/mysql
    ports:
      - "3307:3306"

volumes:
  db_data:
